@use "../../mixins" as *;
@use "../../presets" as *;

.control {
  display: block;
  user-select: none;
  position: absolute;
  cursor: pointer;
  font-size: 3em;

  &-pause {
    color: transparent;
    z-index: 5;
    font-size: 10em;
    top: 50%;
    left: 50%;
    transition: 1s;

    @include md {
      font-size: 6em;
    }

    &:hover {
      color: rgb($color-white, 0.5);
    }

    & > span {
      position: absolute;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-prev {
    position: absolute;
    // font-size: 3em;
    color: rgb($color-white, 0.4);
    z-index: 2;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: color 0.5s;

    @include md {
      font-size: 2em;
    }

    &:hover {
      color: $color-white;
    }
  }

  &-next {
    position: absolute;
    // font-size: 3em;
    color: rgb($color-white, 0.4);
    z-index: 2;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    transition: color 0.5s;

    @include md {
      font-size: 2em;
    }

    &:hover {
      color: $color-white;
    }
  }
}
