@use "../../mixins" as *;
@use "../../presets" as *;

.control {
position: absolute;

  display: block;

  cursor: pointer;
  user-select: none;

  font-size: 3em;

  &-pause {
z-index: 5;
    top: 50%;
    left: 50%;

    transition: 1s;

    color: transparent;

    font-size: 10em;

    @include md {
font-size: 6em;
    }

    &:hover {
color: rgb($color-white, 0.5);
    }

    & > span {
position: absolute;

      transform: translate(-50%, -50%);

      opacity: 0;
    }
  }

  &-prev {
position: absolute;
    z-index: 2;
    top: 50%;
    left: 1rem;

    transition: color 0.5s;
    transform: translateY(-50%);

    color: rgb($color-white, 0.4);

    @include md {
font-size: 2em;
    }

    &:hover {
color: $color-white;
    }
  }

  &-next {
position: absolute;
    z-index: 2;
    top: 50%;
    right: 1rem;

    transition: color 0.5s;
    transform: translateY(-50%);

    color: rgb($color-white, 0.4);

    @include md {
font-size: 2em;
    }

    &:hover {
color: $color-white;
    }
  }
}
