@use "../../mixins" as *;
@use "../../presets" as *;

.main-container {
  @extend %container;
  padding: 0 $gap;
  margin-bottom: 4rem;

  @include md {
    margin-bottom: 2.5rem;
  }
}

.carousel {
  margin: 1em;
}
