@use "../../mixins" as *;
@use "../../presets" as *;

.main-container {
margin-bottom: 4rem;
  padding: 0 $gap;

  @extend %container;
  @include md {
margin-bottom: 2.5rem;
  }
}

.carousel {
margin: 1em;
}
