@use "../../mixins" as *;
@use "../../presets" as *;

.slides {
  position: relative;
  width: 90%;
  height: calc($gap-x5 * 6);
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;

  font-size: 1.75em;
  background: $color-darkgrey;
  color: $color-black;
  text-shadow: 1px 1px;

  &.active {
    opacity: 1;
    z-index: 1;
  }

  &-text {
    display: flex;
    height: 100%;
    padding-left: 50px;
    padding-top: 5em;
    align-items: center;
    color: $color-white;
    text-shadow: 2.5px 2px $color-black;
  }

  &-btn {
    position: absolute;
    bottom: 6em;
    left: 3em;
    font-size: 1.25em;
    z-index: 10;
    border: 2px solid transparent;
    border-radius: $gap-lg;
    color: $color-black;
    padding: 4.5px 18.5px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $color-lightgrey;
    }
  }

  &:nth-of-type(1) {
    background-image: url(../img/Best-Running-Shoes-For-Wide-Feet.jpg);
    @include bg-position;
  }

  &:nth-of-type(2) {
    background-image: url(../img/best-mens-running-tights.jpg);
    @include bg-position;
  }

  &:nth-of-type(3) {
    background-image: url(../img/kids3.jpg);
    @include bg-position;
  }

  &:nth-of-type(4) {
    background-image: url(../img/wired-nike.jpg);
    @include bg-position;
  }

  &:nth-of-type(5) {
    background-image: url(../img/slide5.jpeg);
    @include bg-position;
  }
}
