@use "../presets" as *;
@use "../mixins" as *;

.footer__container {
padding: 0 $gap;

  @extend %container;
}

.footer {
min-height: $gap-x5;
  margin-top: 2em;

  &__social {
display: flex;
    align-items: center;
    justify-content: center;

    gap: $gap;

    &-link {
padding-top: 2rem;

      transition: color 0.5s;

      color: rgb($color-black, 0.8);

      font-size: 2rem;

      @include md {
font-size: 1.75rem;
      }

      &:hover {
color: $color-black;
      }
    }
  }
}
