@use "../presets" as *;
@use "../mixins" as *;

.footer__container {
  @extend %container;
  padding: 0 $gap;
}

.footer {
  min-height: $gap-x5;
  margin-top: 2em;

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;

    &-link {
      padding-top: 2rem;
      font-size: 2rem;
      color: rgb($color-black, 0.8);
      transition: color 0.5s;

      @include md {
        font-size: 1.75rem;
      }

      &:hover {
        color: $color-black;
      }
    }
  }
}
